BOT_TOKEN=123456:ABCDEF
CHAT_ID=-100123456789   # id чата, куда должен приглашать бот
ADMIN_IDS=11111111,22222222  # через запятую

WEBAPP_URL=https://your-domain.tld  # домен мини-приложения (https обязателен)
WEBAPP_PORT=8000

POSTGRES_DB=reclin_bot
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=reclin
POSTGRES_PORT=5435
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}


# Default Welcome Message
DEFAULT_WELCOME_MESSAGE=🩺 <b>Как пользоваться чатом по терапии</b>
Добро пожаловать!
Вы находитесь в профессиональном чате для врачей и ординаторов терапевтических специальностей. Здесь можно задавать вопросы, делиться опытом и получать полезные материалы.

Чат разделён на вкладки:
● 📌 <b>ВАЖНОЕ, АНОНСЫ</b> — объявления о прямых эфирах, расписание, новости.
● 🤝 <b>Прошу совета у коллег</b> — задавайте вопросы экспертам и другим участникам сообщества.
● 📚 <b>Эфиры и материалы</b> — записи трансляций, памятки, гайды и другие полезные материалы.

🔧 По техническим вопросам: @reclin2022

# Default Gift Message
DEFAULT_GIFT_MESSAGE=🎁 <b>Хотим сразу поделиться с тобой стартовым набором полезных материалов:</b>
📌 Памятка «под стекло» по артериальной гипертензии — <a href='https://disk.yandex.ru/d/aCHhf7g7i_KHgw'>Скачать</a>
📌 Памятки «под стекло» по диарее и запору — <a href='https://disk.yandex.ru/d/Qf_sd_zUepxUPw'>Скачать</a>
📌 Шаблоны осмотров при НАЖБП и гастрите — <a href='https://disk.yandex.ru/d/0cGXx48hKweI8A'>Скачать</a>
📌 Таблица с лекарственными препаратами по клинреку «Гастрит» — <a href='https://disk.yandex.ru/d/C4drU9y2DZEQuA'>Скачать</a>

💬 Больше полезных материалов тебя ждёт в нашем чате — оставайся с нами!
